@import url("https://fonts.googleapis.com/css?family=Trade+Winds&display=swap");

* {
  font-family: "Trade Winds", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

#calculator {
  width: 50%;
  #players {
    width: 100%;
  }
  .player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    div {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      font-size: 1.25rem;
    }
    input {
      outline: none;
      border: none;
      font-size: 1.5rem;
      padding: 0;
      margin: 0;
    }
    input::placeholder {
      text-align: center;
    }
    button {
      height: 50px;
      width: 50px;
      font-size: 2rem;
      outline: none;
      border: none;
    }
    .plus {
      background: green;
    }
    .minus {
      background: red;
    }
    .lp {
      margin-right: 25px;
    }
  }
  #player1 {
    margin-bottom: 5px;
  }
  #pointInput {
    text-align: center;
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.25rem;
    margin: 25px 0;
  }
  #numbers {
    display: grid;
    grid-template-areas:
      "one two three zeroNum"
      "four five six zeroNum"
      "seven eight nine zeroNum";
    width: max-content;
    margin: 0 auto;
    height: 200px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px black;
      margin: 2px;
      width: 100px;
      user-select: none;
      transition: background 200ms ease-in-out;
      &:hover {
        background: tan;
      }
    }
    #one {
      grid-area: one;
    }
    #two {
      grid-area: two;
    }
    #three {
      grid-area: three;
    }
    #four {
      grid-area: four;
    }
    #five {
      grid-area: five;
    }
    #six {
      grid-area: six;
    }
    #seven {
      grid-area: seven;
    }
    #eight {
      grid-area: eight;
    }
    #nine {
      grid-area: nine;
    }
    #zeroNum {
      grid-area: zeroNum;
    }
  }
  #actionButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    button {
      border: none;
      outline: none;
      height: 75px;
      width: 75px;
    }
    #reset {
      background: red;
      color: white;
    }
    #clear {
      background: orange;
      color: white;
    }
  }
}
